html, body, button, input,
.leaflet-popup-content-wrapper {
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 500px) {
  html, body, button, input,
  .leaflet-popup-content-wrapper {
    font-size: 13px;
  }
}